<div id="user_info">
<p>
  <b>email:</b>
  <%=h @user.email %>
</p>
<p>
  <b>address:</b>
  <%=h @user.address %>
</p>
<p>
  <b>city:</b>
  <%=h @user.city %>
</p>
<p>
  <b>state:</b>
  <%=h @user.state %>
</p>
<p>
  <b>twitter:</b>
  <%=h @user.twitter %>
</p>
 
</div> 
 
<%= link_to 'Edit', edit_account_path %> |
